<div>
    <a href='/'>Login page</a>
</div>
<div>
    <a href='/static/register.html'> Register Page</a>
</div>
<div>
    <a href='/static/404.html'> Page 404</a>
</div>
<div>
    <a href='/static/500.html'> Page 500</a>
</div>
<div>
    <a href='/static/chat.html'> Page Chat</a>
</div>
<div>
    <a href='/static/profile.html'> Page Profile</a>
</div>
