<main>
    <section class="error-container">
        {{#with errorPage}}
            <p class="error-title">{{title}}</p>
            <p class="error-content">{{content}}</p>
            <a class="error-link" href="/">Back to chat</a>
        {{/with}}
    </section>
</main>
