<main>
    <div class="login">Page Profile</div>

    <div>
        <a href='/'>Login page</a>
    </div>
    <div>
        <a href='/register.html'> Register Page</a>
    </div>
    <div>
        <a href='/404.html'> Page 404</a>
    </div>
    <div>
        <a href='/500.html'> Page 500</a>
    </div>
    <div>
        <a href='/chat.html'> Page Chat</a>
    </div>
    <div>
        <a href='/profile.html'> Page Profile</a>
    </div>

</main>
