div.simple__page-content-item.__border
    p.simple__page-content-item-subtitle ЧТО-ТО ПОШЛО НЕ ТАК
    p.simple__page-content-item-subtitle СТРАНИЦА НЕ НАЙДЕНА
div.simple__page-content-item
    button.button(data-link='/') На главную
include ../../components/test/testLinks
